
body{
    background-color: #EFEFEF;
}

*{
    margin: 0;
    padding:0;
}


table {
    text-align: center;
    width: 80%;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }


nav{
    margin: 1%;
}

#menu{
    display: flex;/*para colocar um item do lado do outro*/
    justify-content: center;/*para colocar os itens no meio*/
    margin-top: -8%;
}

#menu li{list-style-type: none;}/*serve para tirar a bolinha do menu*/

#menu li a:hover{
    background-color: rgb(255, 173, 173);
    padding: 10px;
}


#menu li a{
    font-family: 'Times New Roman', Times, serif ;/*fonte do botão do menu*/
    font-size: 20px;
    text-decoration: none ;/*retira o sublinhado do link*/
    color: black;/*cor da fonte do menu*/
    padding: 15px;/*padding para ficar com aspecto de botão*/
    display: block;/*transforma o link que é uma tag de linha em uma tag de bloco*/
    margin-left: 25px;
    padding-right: 25px;
}


.logo{
    margin-right: 20%;
    margin-bottom: 2%;
}
.sobre-nos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 90px auto 0;
    width: fit-content; /* Adicionei essa propriedade para garantir que a largura da div seja apenas o necessário */
    /* border-bottom: 2px solid; */
    padding: 0 28%;
}
.table{
    border-bottom: 2px solid rgb(255, 173, 173);
    border-top: 2px solid rgb(255, 173, 173);
    margin: 0 20%;
    padding: 5px 0;
    font-size: larger;
}

table, tr{
    padding: 10px 0;
}
.sobre-nos1{
    font-family:'Times New Roman', serif;
    font-size: 16px;
    margin-left: 45%;
    margin-top: 10px;
}
.sobre-nos.h1{
    /* border-collapse: collapse; */
}

.Números{ 
max-width: 700px;
margin: 0 auto;
padding: 20px;
background-color: white;
border-radius: 10px;
font-family:  'Arial Narrow', Arial, sans-serif;
font-size: 25px;
display: flex;
align-items: center;
margin-bottom: 4px;
margin-top: 15px;
}


